.about {
  text-align: center;
  padding: 40px 20px;
  max-width: 700px;
  margin: auto;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  border-radius: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

nav a:hover {
  color: orange;
}

.gallery {
  text-align: center;
  margin-top: 60px;
}
.social-icons {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 8px;
  vertical-align: middle;
}
.project-icons {
  text-align: center;
  margin-top: 10px;
}

.project-icon {
  width: 60px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}

.project-list {
  display: flex;
  gap: 20px;
}

.project-item {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.project-label {
  margin-top: 10px;
  font-weight: bold;
}
